#application {
    background: linear-gradient(135deg, #fca400 21%,#3286d1 78%,#3286d1 78%,#3286d1 81%);
    width: 375px;
    height: 812px;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 40px;
}